@import '../../../../variables';

.rate {
  border-bottom: 1px solid $primary-light;
  display: flex;
  list-style-type: none;
  margin: 0 1rem;
  padding: 1rem;
}

.amount {
  flex-basis: 40%;
}

.currency {
  opacity: .5;
}
