.addRate {
  align-items: center;
  background: linear-gradient(to bottom, rgba(#fff, .9), rgba(#fff, .99), rgba(#fff, .9));
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.content {
  margin-top: 7rem;
  padding: 1rem 0;
}

.select {
  font-size: 1rem;
  padding-bottom: 1rem;
  width: 16rem;
}

.cancel {
  margin-top: 4rem;
}
