@import '../../../../variables';

.baseHeader {
  align-items: center;
  background: linear-gradient(to bottom, $primary, darken($primary, 1%));
  background-color: $primary;
  border-radius: 50%;
  box-shadow: 0 3px 10px rgba($primary-dark, .3);
  color: #fff;
  display: flex;
  flex-direction: column;
  font-size: 3rem;
  height: 12.5rem;
  justify-content: center;
  margin: 0 auto 1.5rem;
  position: relative;
  text-align: center;
  width: 12.5rem;
}

.baseInput {
  display: inline-block;
  width: 6rem;
}

.currency {
  bottom: 1.5rem;
  color: $primary-dark;
  display: block;
  font-size: 1.5rem;
  font-weight: 400;
  left: 50%;
  opacity: .5;
  position: absolute;
  transform: translateX(-50%);
}
